.task-list-item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 8px;
    border-radius: 4px;
    background-color: #fff;
    transition: background-color 0.3s ease-in-out;
    animation: fadeIn 2s ease-in-out forwards;
  }
  
  .task-list-item:hover {
    background-color: #f5f5f5;
  }
  
  .task-details {
    flex: 1;
    margin-right: 10px;
  }
  @keyframes rainbowFlash {
      0%, 100% { color: rgb(35, 35, 35); }
      50% { color: rgba(0, 0, 0, 0.527); }
  }
  
  
  @keyframes fadeIn {
      0% {
          opacity: 0;
          transform: translateY(-100px);
      }
      100% {
          opacity: 1;
          transform: translateY(0);
      }
  }
  
  .task-name {
    font-size: 16px;
    font-weight: bold;
  }
  
  .task-description {
    font-size: 14px;
    color: #666;
  }
  
  .task-priority {
    font-size: 14px;
    font-weight: bold;
    color: #3498db;
  }
  
  .checkbox {
    margin-right: 10px;
  }
  
  .edit-button,
  .delete-button {
    cursor: pointer;
    border: none;
    background: none;
    color: #3498db;
    font-size: 14px;
  }
  
  .edit-button:hover,
  .delete-button:hover {
    text-decoration: underline;
  }
  